model-viewer {
  width: 500px;
  height: 800px;
}
.borderCard{
  border-left: 2px solid #17151F;
}
.model{

  margin: auto;
}
@media (max-width: 600px) {
  model-viewer {
    width: 400px;
    height: 600px;
  }

}

.dark-mode {
    display: flex;
    justify-content: space-between;
  }
  .checkbox {
    display: none;
  }
  .checkbox:checked ~ .switch:before{
    transform: translateX(25px);
  }
  .switch {
    /* border: 1px solid red; */
    height: 30px;
    display: block;
    border-radius: 20px;
    background: #06122C;
    width: 60px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
  }
  .switch::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: rgb(0, 122, 75);
    border-radius: 50%;
    transform: translateX(0);
    transition: .3s;
    will-change: transform;
  }


  .darkColor{
    background: rgba(0, 0, 0, 0.8);
    line-height: 1;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
  }